<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify room</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}

    <label>Name room
        <input type="text" name="name" value="{{ room.name }}">
    </label>
    <br>
    <label>Capacity room
        <input type="number" min="0" max="100" name="size">
    </label>
    <br>
    <label>
        <input type="checkbox" name="projector"> Projector availability
    </label>
    <br>
   <label>
        <input type="submit" value="Add">
   </label>

</form>
</body>
</html>