<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details room</title>
</head>
<body>
  <p>Room name: {{ room.name }}</p>
  <p>Room size: {{ room.size_room }} m<sup>2</sup></p>
  <p>Availability projector: {{ room.availability_projector }}</p>
  <a href="{% url 'modify_room' room.id %}">Edit</a>
  <a href="{% url 'delete_room' room.id %}">Delete</a>
<a href="{% url 'reserve_room' room.id %}">Reserve</a>
<br>
{% for reserve in reservations %}
    <p>Reservation: {{ reserve.date_reservation }}</p>
    <p>Description: {{ reserve.description }}</p>
{% endfor %}
</body>
</html>